* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 24px;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: white;
}


.item a {
	text-decoration: none;
}


.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 420px; 
  grid-gap: 0px; /
}








footer {
 grid-column: 1/-1;
 height: 30vh;
 background: black;
 color: pink;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

footer p {
 padding: 30px 0;
}




.logoimg {
	width: 100px;
	margin: 0 20px 0 0;
}

.nav-item {
	margin: 0 10px ;
	font-size: 25px ;
}


.nav-item {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.card1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* чотири колонки рівної ширини */
    gap: 35px; /* відступи між карточками */
    padding: 35px; /* відступи від краю монітора */
}

.card {
    margin-bottom: 30px; /* відступ між карточками */
}



.card-img-top {
    width: 100%; /* Розтягуємо картинку на всю ширину блоку */
    height: auto; /* Автоматична висота, щоб зберігати пропорції */
}


.social_contacts {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social_contacts a {
  color: white; /* Колір тексту */
  font-size: 24px; /* Розмір іконок */
}

.social_contacts a:hover {
  color: #ddd; /* Колір тексту при наведенні */
}

/* Зміна колір іконок для кожної соціальної мережі */
.fa-telegram {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-facebook {
  color: white;
}
